@model List<CMT_LibroModels>;
@{
    ViewData["Title"] = "Inventario";
    Layout = "_Layout";
}
<style>
    body {
        background-color: #0f0f0f;
        color: #ffffff;
    }

    .card {
        background-color: #1c1c1c;
        border: 1px solid #333;
    }

    .card-header {
        background-color: #272727;
        border-bottom: 1px solid #333;
        color: #ffcc00;
    }

    .btn-primary {
        background-color: #ffcc00;
        border-color: #ffcc00;
        color: #fff;
    }

    .btn-danger {
        background-color: #ff3344;
        border-color: #ff3344;
        color: #ffffff;
    }

    th, td {
        border-color: #333;
        color: #fff;
    }

    br {
        margin: 20px 0;
    }
</style>
<div class="card col-8">
    <div class="card-header">
        Lista de Usuarios
    </div>
    <div class="card-body">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Identificador</th>
                    <th>ID Prestamo</th>
                    <th>Numero de adquisicion</th>
                    <th>Titulo</th>
                    <th>IBSN</th>
                    <th>Clasificacion</th>
                    <th>Numero de estante</th>

            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Us_Identificador</td>
                        <td>@item.Pre_Id_Prestamo</td>
                        <td>@item.Lib_NoAdquisicion </td>
                        <td>@item.Lib_Titulo </td>
                        <td>@item.Lib_IBSN </td>
                        <td>@item.Lib_Clasificacion</td>
                        <td>@item.Lib_No_Estante </td>




                        <td>
                            <a asp-action="Listar" asp-controller="Usuario" class="btn btn-primary btn-sm">Regresar a la lista</a>


                        </td>
                    </tr>
                }
            </tbody>

        </table>


    </div>
    @if (ViewData["Mensaje"] != null)
    {
        <div class="alert alert-danger mt-3" role="alert">
            @ViewData["Mensaje"]
        </div>
    }
